<%- include('../../partials/header.ejs') %>


<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Página de Login</h2>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="post">
                <input class="form-control" type="email" name="email" placeholder="email@exemplo.com"><br>
                <input class="form-control" type="password" name="password"  placeholder="******"><br>
                <button type="submit" class="btn btn-dark btn-block">Logar</button>
            </form>
        </div>
        <hr>
        <div class="card-body">
            <h3>Não tem usuário? Cadastre-se</h3>
            <br>
            <a href="/admin/users/create" class="btn btn-primary">Cadastrar</a>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>